[submodule "p2ploot-backend"]
	path = p2ploot-backend
	url = git@github.com:Bianca-campolongo/p2ploot-backend.git
	branch = teste
[submodule "p2ploot-frontend"]
	path = p2ploot-frontend
	url = git@github.com:Bianca-campolongo/p2ploot-frontend.git
	branch = teste
